body {
    width: 840px;
    margin: auto;
}

nav {
    margin-top: 10px;
    text-align: center;
}
nav p {
    color: rgb(51, 120, 138);
    background: rgb(255, 240, 192);
    padding: 10px;
    border-top: 2px solid rgb(255, 210, 62); 
}

#logo {
    width: 20%;
    margin: auto;
}

 img {
    border-radius: 10px;
    min-width: 100%;
    box-shadow: 3px 3px rgba(206, 204, 204, 0.685)
}

a {
    color: rgb(51, 120, 138);
    font-weight:bold;
}

#image-name{
    text-align: center;
    font-weight:lighter;
    font-size: 0.8em;
    margin-top: 10px;
    color: rgb(167, 164, 164);
}

#credits {
    border-left: 2px solid rgb(255, 210, 62);
    padding-left: 10px;
    font-weight:bold;
}

#credits p {
    color: rgb(168, 35, 35)
}

img {
    max-width: 100%;
}

h2 {
    border-bottom:  1px solid rgb(127, 210, 231);
    padding-bottom: 10px;
}

ul li {
    padding: 5px;
}